<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>
    <header>
        <h1>Star Wars</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <!-- <li class="active"><a href="#">Episodes</a></li> -->
                <li><a href="./episodes.html">Episodes</a></li>
                <li><a href="./anthologies.html">Anthologies</a></li>
                <li><a href="./games.html">Games</a></li>
            </ul>
        </nav>
    </header>
    <main>
        Notice: I DO NOT OWN ANY OF THE IMAGES OR PHOTOS ON THIS SITE. Photos on this site were taken from the internet and are
        used solely to display some kind of content.

    
    </main>
    <footer>
        <span>Created In A Galaxy Far Far Away...</span>
        <p>2018 - Gyasik Nunez</p>
        <a href="views/about.html">About</a>
    </footer>
</body>

</html>