<!DOCTYPE html>
<html>
  <head>
    <title>Anthologies</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <link rel="stylesheet" href="../css/styles.css"/>
  </head>
  <body>
    <header>
      <h1>Star Wars</h1>
      <nav>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <!-- <li class="active"><a href="#">Episodes</a></li> -->
          <li><a href="./episodes.html">Episodes</a></li>
          <li><a href="./anthologies.html">Anthologies</a></li>
          <li><a href="./games.html">Games</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Anthologies</h1>

      <section class="ant-sec">
        <section>
          <h2>Rogue One</h2>
          <img alt="Rogue One" src="../covers/rogueone.jpg" />
          <p>2016</p>
        </section>
        <section>
          <h2>Solo</h2>
          <img alt="Solo" src="../covers/hansolo.jpg">
          <p>2018</p>
        </section>
      </section>
    
    </main>
    <footer>
      <span>Created In A Galaxy Far Far Away...</span>
      <p>2018 - Gyasik Nunez</p>
    </footer>

  </body>
</html>
